/* common */
@media (max-width: 1227px) {
    html {
        font-size: 12px;
    }


    /* header */
    .header__logo_pic img{
        width: 100px;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 10px;

    }

    header nav {
        display: none;
    }

    /*Footer*/
   .footer_nav{
    display: none;
   }

   .footer_callme{
    display: none;
   }



    /*Главная*/


    /*новости*/

    .new-preview-1{
    width: 40%;
    }

       /*Карточки дома - index5*/
    .house-card__rooms{
        display: none;
       }
    .house-card_radio_group{
        display: none;
    }
    .house-card__price-include__cont{
    flex-direction: row;
    }
    .house-card__price-include__cont-pics {
    justify-content: flex-end;
    flex-flow: column wrap;
    }

    .house-card__price-include__cont-text {

    flex-flow: column wrap;
    }
    .house-card__price-include{
    margin: 0;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 10px;
    }
     h2{
            font-weight: 500;
            font-size: 1.6rem;
            letter-spacing: 3px;
            text-transform: uppercase;
            text-align: center;
        }

        /*новости*/

    .new-preview-1{
    width: 40%;
    }

        /*страница поста*/

    .new-post-head{
        flex-direction: column;
    }

    .back-to-main__a{
        width: 95%;

    }

    .new-post-head{
    padding: 0;
    }

    .new-post__text-header-cont{
        background-color: #FFFFFF;
        padding: 5%;
        margin-left: 10%;
    }

    #new-post__post-text{
        padding: 0;
        margin: 0;

    }

    .new-post__another-news{
        display: none;
    }
    


    /*Карточки дома - index5*/
    .house-card__rooms{
        display: none;
       }
    .house-card_radio_group{
        display: none;
    }
    #house-card__price-include_h2{
        border:none;
    }
    .house-card__price-include__cont{
        flex-direction: row;
    }
    .house-card__price-include__cont-pics {
        justify-content: flex-end;
        flex-flow: column wrap;
    }
    .house-card__price-include__cont-pics img{
        width: 70px;
        height: auto;
    }
    .house-card__price-include__cont-text {
        flex-flow: column wrap;
    }
    .house-card__price-include{
        margin: 0;
    }

    .house-card__call-back-desc{
        display: none;
    }
}