/* common */
html {
	font-size: 17px;
}
body {
	background-color: #F5F4F3;
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 17px;
	margin: 0 auto;
	max-width: 1228px;
	box-shadow: 0 64px 32px rgba(201, 189, 171, 0.7);
}
a{
	color: #000000;
	text-decoration: none;
}
h1{
	font-weight: normal;
	/*font-size: 62px;*/
	font-size: 3.65rem;
	margin: 0;
	
}

h2{
	font-weight: normal;
	font-size: 3.82rem;
	margin: 0;
}

/* header */
header {
	padding-top: 30px;
	display: flex;
	padding-left: 28px;
	padding-right: 44px;
}

.header__logo {
	justify-content: center;
    align-items: stretch;
}

.header__logo_pic img{
	max-width: 144px;
}

header nav {
	display: flex;
  	align-items: flex-end;
}
.left{
	align-self: flex-start;
}
.logo_pic {
	margin-left: 28px;
	margin-right: 31px;
}
.menu {
	list-style: none;
	display: flex;
	align-items: flex-start;
	margin-top: 0px;
	margin-bottom: 30px;
}
.menu__item {
	margin-right: 10px;
	margin-bottom: 10px;
}
.menu__item a {
	font-weight: 500;
	font-size: 1.05rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.33);
	padding: 10px;
	

}
.menu__item a:hover{
	background: linear-gradient(61.53deg, #7AE4BD -0.45%, #FFC400 103.47%);
	box-shadow: 0px 16px 32px rgba(201, 189, 171, 0.7);
	border-radius: 56px;
	border-bottom: none;
}

.header__call-back {
	display: flex;
	flex-direction: column;
	margin-right: 44px;
	margin-left: auto;
}

.header__call-back__phone {
	font-size: 2.235rem;
	font-weight: 400;
	align-self: flex-end;
}
.header__call-back__phone__btn-header {
	font-weight: 400;
	border-bottom: 2px solid #FFC401;
	padding-bottom: 5px;
	font-size: 1.01rem;
	align-self: flex-end;
	margin-top: auto;
	margin-bottom: 30px;
}

.header__call-back__phone__btn-header:hover {
	border-bottom: 2px solid transparent;
 }


/* main */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

 	#main_h1
 	{color:#000000;
 	margin-left: 192px;	
 	} 

	#club 
	{
	font-family: Playfair Display SC;
 	font-weight: normal;
 	font-size: 31px;
 	color: #424242;
 	margin:0;
 	display: flex; 
 	position: relative;
	}
#p_club{
	align-self: flex-start;
	margin:0;
	margin-top: -3px;
	margin-left: 153px;
	padding-left: 47px;
 	padding-bottom: 17px;
 	padding-right: 40px;
	background-color:#F5F4F3;
	position: absolute;
}
.main_img {
	margin: 0 auto;
	margin:0 25px;
	align-self: center;
	top:0;
	width:100% ;
  height:100%
}

#p3_club{
	margin: 0;
	font-family: Montserrat;
	font-style: normal;
	font-size: 6.88rem;
	bottom: 0;
	margin-left: 153px;
	padding-left: 47px;
 	padding-bottom: 17px;
 	padding-right: 40px;
	position: absolute;
	background: linear-gradient(61.53deg,#F7C834, #79E16A); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

#pp_club {
	display: flex;
	flex-direction: column;
	background-color:#F5F4F3;
}


.main__slider_select{
margin-left: 153px;
}

.slider_select {

	margin-right: 20px;
	padding: 3px;
    border: 4px solid #979797;
    border-radius: 50%;
   background: #F2F2F2;
}

#slider_select_active {
	background: #F8C935;
	border: 4px solid #F8C935;
    border-radius: 50%;
}

.main__more__cont {
	margin-left: 153px;
	height:auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.main__more_btn {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 40px;
	background: #F5F4F3;
	border: 1px solid #000000;
	align-self: center;
}

.main__more__text {
	font-size: 0.9rem;
	width: 497px;
	align-self: center;
}

.main__more__line{
	border-left:1px solid #979797;
	width: 1px;
	height: 61px;
	margin-left: 86px;
	margin-right: 54px;
	align-self: center;
}

.main__projects__cont{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.main_projects_ico{
	margin-right: 29px;
	margin-left: 84px;
	opacity: 0.33;
}

/*Превью домов*/
.house_preview__cont{
display:flex;
flex-direction: row;
justify-content: space-around;
margin:30px 0;
flex-flow: row wrap;

}

.house_preview_1{
	align-self: flex-start;
	}

.house_preview_1_pic:hover {
	position: absolute;
  width:378px;
  height:269px;
}

.house_preview_about{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 336px;
}

.house_preview_1_name {
	font-size: 1.23rem;
	text-transform: uppercase;
	font-weight: 600;
}

.house_preview_1_rooms {
text-align: right;
}

.house_preview_btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.house_preview_btn_plan_p{
	color: #FFFFFF;
	padding: 20px 50px;
	font-size: 1.05rem;
	text-transform: uppercase;
	font-weight: bold;
	background: radial-gradient(65.04% 718.63% at -6.36% 0%, #F6C837 0%, #EFB51F 100%);
    box-shadow: 0px 34px 32px rgba(201, 189, 171, 0.7), inset 0px -4px 0px rgba(0, 0, 0, 0.17);
    border-radius: 68px;
}

.house_preview_btn_plan_p:hover{
	box-shadow: 0px 34px 64px rgba(240, 181, 32, 0.61), inset 0px -4px 0px rgba(0, 0, 0, 0.17);
}









